body {
    
    background: lightslategray;
}

.header {
    display: flex;
    height: 150px;
    margin: 0; 
    padding: 0;
    align-items: center;
    background-color: rgb(33, 116, 58);
}

.container {
    display: flex;
    height: 600px;
    width: 50%;
    border: 2px solid black;
    background: content-box radial-gradient(crimson, skyblue);
    justify-items: center;
}

/*.container:hover {
    transform: scale(0.9, 0.9);
    transition-duration: 500ms;
    background: content-box radial-gradient(rgb(40, 20, 220), rgb(227, 135, 235));
}*/

.one {
    display: flex;
    height: 40%;
    width: 50%;
    border: 2px black solid;
    border-radius: 30px;
    background-image: url("../images/img2.jpg");
    box-shadow:  5px 5px 20px black;
    background-repeat: no-repeat;
    background-position: center;
}

.one:hover {
    transform: scale(1.5, 1.5) translate(30%, 30%);
    transition-duration: 300ms;
}